.main-title {
  @extend %visually-hidden;
}

.filter {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item {
  max-width: max-content;
  flex-basis: calc((100% - 2 * 8px) / 3);
  margin-right: 8px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item {
  @media screen and (min-width: 768px) {
    flex-basis: content;

    &:nth-child(-n + 3) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
