.workers {
  background-color: $section-color;

  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 1 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item:nth-child(2n + 1) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }

  &__item:nth-last-child(-n + 2) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.workers-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;

  &__content {
    padding-top: 30px;
    padding-bottom: 24px;

    background-color: $bg-color;

    @media screen and (min-width: 768px) {
      padding: 30px 74px;
    }

    @media screen and (min-width: 1200px) {
      padding: 30px 32px;
    }
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 0;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
