body {
  background-color: $bg-color;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
