.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &.is-hidden > .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
}

// Modal

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: $bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opa—Åity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__button--close {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    background-color: $bg-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
  }
}

.modal__icon {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__button--close:hover &,
  .modal__button--close:focus & {
    fill: $accent-color;
  }
}

// Form

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__input--checkbox {
    @extend %visually-hidden;
  }

  &__text--checkbox {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    margin-left: 20px;
  }

  &__link {
    color: $accent-color;
    margin: 0;
  }
}

.form__label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;

  &--coment {
    margin-bottom: 20px;
  }

  &--checkbox {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__label:focus-within &,
  .form__label:hover & {
    border-color: $accent-color;
  }
}

.form__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__label:focus-within &,
  .form__label:hover & {
    fill: $accent-color;
  }
}

.form__input--coment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__icon--choose {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 16px;
  height: 15px;
  background-color: $bg-color;
  fill: $bg-color;
  border-radius: 4px;
  border: 2px solid $title-text-color;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input--checkbox:checked ~ & {
    background-color: $accent-color;
    border-color: $accent-color;
    background-origin: content-box;
  }

  .form__label--checkbox:hover &,
  .form__input--checkbox:focus ~ & {
    border-color: $accent-color;
  }
}

.form__button--send {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color-button;
  }
}
