.work {
  padding-top: 0;
  padding-bottom: 94px;

  &__list {
    @extend %list;
    display: flex;
    margin-top: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__card {
    position: relative;
  }

  &__text {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
  }

  &__discription {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
  }
}
