$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-color-button: #188ce8;
$bg-color: #ffffff;
$banner-color: #c4c4c4;
$section-color: #f5f4fa;
$footer-color: #2f303a;
$logo-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$boder-color: #ececec;
$boder-color-portfolio: #eeeeee;
$site-icon-color: #afb1b8;

$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
